@font-face {
font-family: 'Eras Light ITC';
font-style: normal;
font-weight: normal;
src: local('Eras Light ITC'), url('ERASLGHT.woff') format('woff');
}
body {
    width: 100%;
}
a {
    color: black;
}
img {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: -190px;
}
h1 {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-family: 'Eras Light ITC', 'Eras ITC', sans-serif;
    font-weight: lighter;
    color: lightpink;
    background-color: black;
}
h2 {
    font-family: 'Eras Light ITC', 'Eras ITC', sans-serif;
    font-size: 32px;
    font-weight: lighter;
}
h3 {
    font-family: 'Eras Light ITC', 'Eras ITC', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}
h4 {
    font-family: 'Eras Light ITC', 'Eras ITC', sans-serif;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: -10px;
}
p {
    font-family: Calibri;
    font-size: 16px;
    font-weight: lighter;
}
#main {
    width: 100%;
}
#header {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
#body {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255,182,193, 0.1);
}
#footer {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.secondary {
    padding: 25px;
    margin-top: 75px;
}
.col4 {
    display: inline-block;
    width: 32%;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: darkgray;
    padding-bottom: 25px;
}
.icon {
    text-align: center;
    height: 75px;
    width: 75px;
    margin: 3px;
    display: inline-block;
}
.img-container {
    width: 100%;
    text-align: center;
    margin: 0;
}
.link {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    color: darkgray;
    display: inline-block;
    z-index: 50;
    margin: 0;
}
.ins-col {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
.img-foot {
    height: auto;
    width: 100%;
    margin: 0;
}
.foot {
    border: none;
}
@media screen and (max-width: 991px) {
    img {
        margin: 5px;
    }

    .container {
        text-align: center;
    }
}
